@model implementacija.Models.ArhivaKorisnikaFL

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArhivaKorisnikaFL</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.izvrsioTransakciju)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.izvrsioTransakciju)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ukupnoUplatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ukupnoUplatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bioOdgovornoLice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bioOdgovornoLice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kreiraoRacun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kreiraoRacun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.napustioApp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.napustioApp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.KorisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipFizickogLica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipFizickogLica.TipFizickogLicaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArhivaKorisnikaFLId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
