@model implementacija.Models.Transakcija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transakcija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ukupnoZaUplatu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ukupnoZaUplatu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.KorisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NacinPlacanja.NacinPlacanjaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransakcijaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
