@model IEnumerable<implementacija.Models.ArhivaDogadjaja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cijenaRezervacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iznosPopusta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DogadjajId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ustanova)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cijenaRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.popust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iznosPopusta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DogadjajId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.KorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ustanova.UstanovaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArhivaDogadjajaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArhivaDogadjajaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArhivaDogadjajaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
