@model IEnumerable<implementacija.Models.VIP>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojKartice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumRodjenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipFizickogLica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stanjeRacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.odgovornoLice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uplatioClanarinu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iznosClanarine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trajanjeClanarine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojKartice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumRodjenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipFizickogLica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stanjeRacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.odgovornoLice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uplatioClanarinu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iznosClanarine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trajanjeClanarine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.KorisnikId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VIPId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VIPId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VIPId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
