@model IEnumerable<implementacija.Models.Registracija>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizickoLice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ustanova)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Korisnik.KorisnikId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FizickoLice.FizickoLiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VIP.VIPId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ustanova.UstanovaId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RegistracijaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RegistracijaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RegistracijaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
