@model implementacija.Models.Dogadjaj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dogadjaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kapacitet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kapacitet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumDogadjaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumDogadjaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trenutniKapacitet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trenutniKapacitet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ustanova)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ustanova.UstanovaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.KorisnikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DogadjajId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
